{% extends "www/master.html" %}

{% block title %}Payroll{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/benefits/sidenav.html" %}
{% endblock %}

{% block main %}
<div id="main">
    <div class="animate fadeUp main-banner">
        <img src="/images/hr-banner.png" style="width: 100%;"/>
        <div class="nav-wrapper black-text banner-title3">
            <div class="breadcrumb">
                <a class="breadcrumb">Benefits</a>
                <a href="/hr" class="breadcrumb active">Get benefits</a>
            </div>
        </div>
        <h5 class="pink-text banner-title">Providing benefits to employees has never been easier!</h5>
        <h5 class="black-text banner-title4">Drop few lines and get an instant recommendation within a minute</h5>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}