{% extends "www/master.html" %}

{% block title %}Sign in{% endblock %}
{% block styles %}
<link href="css/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <section id="loading-page" class="row form-section">
                <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                    <form class="login-form">
                        <div class="row">
                            <div class="center input-field col s12">
                                <img src="/images/logo.svg"/>
                                <h5 class="ml-4">Hang on a second!</h5>
                            </div>
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section id="login-page" class="row form-section">
                <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                    <form class="login-form">
                        <div class="row">
                            <div class="center input-field col s12">
                                <img src="/images/logo.svg"/>
                                <h5 class="ml-4">Hi there! Welcome to Beep!</h5>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">email</i>
                                <input id="login-username" type="text">
                                <label for="login-username" class="center-align">Email</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">lock_outline</i>
                                <input id="login-password" type="password">
                                <label for="login-password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect border-round gradient-45deg-blue-indigo col s12"
                                        type="submit">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l6">
                                <p class="margin medium-small"><a href="#signup">Create new account</a></p>
                            </div>
                            <div class="input-field col s6 m6 l6">
                                <p class="margin right-align medium-small"><a href="#forgot">Forgot
                                    password ?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section id="signup-page" class="row form-section">
                <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                    <form class="login-form">
                        <div class="row">
                            <div class="center input-field col s12">
                                <img src="/images/logo.svg"/>
                                <h5 class="ml-4">Hi there! Welcome to Beep!</h5>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">person_outline</i>
                                <input id="signup-name" type="text">
                                <label for="signup-name" class="center-align">Full Name</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">email</i>
                                <input id="signup-email" type="text">
                                <label for="signup-email" class="center-align">Email</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">lock_outline</i>
                                <input id="signup-password" type="password">
                                <label for="signup-password">Password</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">lock_outline</i>
                                <input id="signup-password-confirm" type="password">
                                <label for="signup-password-confirm">Confirm Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect border-round gradient-45deg-blue-indigo col s12"
                                        type="submit">
                                    Create Account
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l6">
                                <p class="margin medium-small"><a href="#login">Login</a></p>
                            </div>
                            <div class="input-field col s6 m6 l6">
                                <p class="margin right-align medium-small"><a href="#forgot">Forgot
                                    password ?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section id="forgot-page" class="row form-section">
                <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                    <form class="login-form">
                        <div class="row">
                            <div class="center input-field col s12">
                                <img src="/images/logo.svg"/>
                                <h5 class="ml-4">Hi there! Welcome to Beep!</h5>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">email</i>
                                <input id="forgot-email" type="text">
                                <label for="forgot-email" class="center-align">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect border-round gradient-45deg-blue-indigo col s12"
                                        type="submit">
                                    Get Reset Link
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l6">
                                <p class="margin medium-small"><a href="#login">Login</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="js/signin.js" defer></script>
{% endblock %}

