{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<div id="main">
    <div class="row">
        <div class="content-wrapper-before"></div>
        <div class="col-12">
            <div class="container">
                <div class="row section-data-tables" style="margin: 50px;">
                    <div class="col s12">
                        <div class="nav-wrapper black-text banner-title3">
                            <div class="breadcrumb">
                                <a class="breadcrumb">HR Hub</a>
                                <a class="breadcrumb">People</a>
                                <a href="/hr/people-org-chart" class="breadcrumb active">Org Chart</a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card">
                                <div class="card-content">
                                 <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/people.png">
                                 <h4 class="card-title newstitle" style="display: inline;">Org Chart</h4>
                                 <a href="#" class="manage-employees modal-trigger waves-effect waves-light right">Manage Employees</a>
                                 <div>
                                <a class="modal-trigger waves-effect waves-light btn left" onClick="collapseAll();" style="position: absolute; ;top: 70px;left: 30px;">Collapse All</a>
                                </div>
<div class="org-chart-dropdownlist" style="margin-top: 120px;position: relative;">                  
  <ul class="collapsible" data-collapsible="accordion" style="border:none;box-shadow: none;">
    <li class="management" style="margin-bottom: 15px;">
      <div class="collapsible-header" style="padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px;"><img width="40" height="40" src="/images/profile_icon.png"><span style="margin-top: 10px;margin-left: 10px;">Management</span></div>
      <div class="collapsible-body" style="border-bottom: none; padding: 20px;">
    			<div class="row">
				<div class="col s12 m12">
        <ul class="collapsible employees" data-collapsible="accordion" style="border: none;box-shadow: none;">
          <li>
            <div class="collapsible-header org-chart-employee" style="padding-left: 40px;padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px; margin-bottom: 20px;" tabindex="0"><img width="40" height="40" src="/images/org-chart-profile.png"><p style="margin-left: 15px;"><span style="color: #00aeef;">Mina Mona</span><br/><span>Head Management</span></p>
                <div class="contact-icons"><p style="position: absolute;right: 150px;margin-top: 10px;"><img width="20" height="20" src="/icons/people-blue.png"></p><p style="position: absolute;right: 110px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-57.png"></p><p style="position: absolute;right: 70px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-56.png"></p></div></div>
          </li>
          <li>
            <div class="collapsible-header org-chart-employee" style="padding-left: 40px;padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px; margin-bottom: 20px;" tabindex="0"><img width="40" height="40" src="/images/org-chart-profile-2.png"><p style="margin-left: 15px;"><span style="color: #00aeef;">Tia Nia</span><br/><span>Product Manager</span></p><div class="contact-icons"><p style="position: absolute;right: 150px;margin-top: 10px;"><img width="20" height="20" src="/icons/people-blue.png"></p><p style="position: absolute;right: 110px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-57.png"></p><p style="position: absolute;right: 70px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-56.png"></p></div></div>
          </li>
        </ul>
      </div>
      </div>
      </div>
    </li>
    <li class="finance" style="margin-bottom: 15px;">
    <div class="collapsible-header org-chart-title" style="padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px;"><img width="40" height="40" src="/images/profile_icon.png"><span style="margin-top: 10px;margin-left: 10px;">Finance</span></div>
    <div class="collapsible-body" style="border-bottom: none; padding: 20px;">
        <ul class="collapsible finance-employees" data-collapsible="accordion" style="border: none;box-shadow: none;">
          <li>
            <div class="collapsible-header org-chart-employee" style="padding-left: 40px;padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px; margin-bottom: 20px;" tabindex="0"><img width="40" height="40" src="/images/org-chart-profile.png"><p style="margin-left: 15px;"><span style="color: #00aeef;">Mina Mona</span><br/><span>Head Management</span></p>
                <div class="contact-icons"><p style="position: absolute;right: 150px;margin-top: 10px;"><img width="20" height="20" src="/icons/people-blue.png"></p><p style="position: absolute;right: 110px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-57.png"></p><p style="position: absolute;right: 70px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-56.png"></p></div></div>
          </li>
          <li>
            <div class="collapsible-header org-chart-employee" style="padding-left: 40px;padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px; margin-bottom: 20px;" tabindex="0"><img width="40" height="40" src="/images/org-chart-profile-2.png"><p style="margin-left: 15px;"><span style="color: #00aeef;">Tia Nia</span><br/><span>Product Manager</span></p><div class="contact-icons"><p style="position: absolute;right: 150px;margin-top: 10px;"><img width="20" height="20" src="/icons/people-blue.png"></p><p style="position: absolute;right: 110px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-57.png"></p><p style="position: absolute;right: 70px;margin-top: 10px;"><img width="20" height="20" src="/icons/icon-56.png"></p></div></div>
          </li>
        </ul>
      </div>
    </li>
    <li class="marketing" style="margin-bottom: 15px;"> 
      <div class="collapsible-header org-chart-title" style="padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px;"><img width="40" height="40" src="/images/profile_icon.png"><span style="margin-top: 10px;margin-left: 10px;">Marketing</span></div>
    <div class="collapsible-body" style="border-bottom: none; padding: 20px;">
      </div>
    </li>
  </ul>
</div>
                                    
                                    
                                    
<!--<div class="org-chart-dropdownlist" style="margin-top: 120px;position: relative;">                                    
<ul class="collapsible" data-collapsible="accordion" style="border:none;box-shadow: none;">
	<li style="margin-bottom: 15px;">
		<div class="collapsible-header" style="padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px;"><img width="40" height="40" src="/images/profile_icon.png"><span style="margin-top: 10px;margin-left: 10px;">Management</span></div>
		<div class="collapsible-body" style="display: block;border-bottom: none;">
			<div class="row">
				<div class="col s12 m12">
					<ul class="collapsible" data-collapsible="accordion" style="border: none;box-shadow: none;">
                                  <li>
      <div class="collapsible-header" style="padding-left: 40px;padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px;" tabindex="0"><img width="40" height="40" src="/images/profile_icon.png"><span style="margin-top: 10px;margin-left: 10px;">Management</span></div>
          </li>
          <li>
      <div class="collapsible-header" style="padding-left: 40px;padding-left: 40px;border: 1px solid #d2d2d2;border-radius: 20px;margin-top: 20px;" tabindex="0"><img width="40" height="40" src="/images/profile_icon.png"><span style="margin-top: 10px;margin-left: 10px;">Management</span></div>
          </li>
						<li>
							<div class="collapsible-header">
								<i class="material-icons">place</i>Nested Second</div>
							<div class="collapsible-body">
								<p>Lorem ipsum dolor sit amet.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header">
								<i class="material-icons">whatshot</i>Nested Third</div>
							<div class="collapsible-body">
								<p>Lorem ipsum dolor sit amet.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="material-icons">place</i>Second</div>
		<div class="collapsible-body">
			<div class="container">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">filter_drama</i>Nested First</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">place</i>Nested Second</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">whatshot</i>Nested Third</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="material-icons">whatshot</i>Third</div>
		<div class="collapsible-body">
			<div class="container">
				<div class="row">
					<div class="col s12 m12">
						<ul class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header">
									<i class="material-icons">filter_drama</i>Nested First</div>
								<div class="collapsible-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
							<li>
								<div class="collapsible-header">
									<i class="material-icons">place</i>Nested Second</div>
								<div class="collapsible-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
							<li>
								<div class="collapsible-header">
									<i class="material-icons">whatshot</i>Nested Third</div>
								<div class="collapsible-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
</div>-->
                              <!--  <table style=" font-size: 14px;">
                                   <tr border="0" style="border-right:none!important;font-size: 16px; position: relative;background-color: #f9f9f9; width: 100%!important;" >
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Aznul Abdullah</td>
                                    <td>Paternity</td>
                                    <td>22 Aug 2019 - 26 Aug 2019 <br>
                                    3 days</td>
                                    <td>Approved</td>
                                    <td><a href="#">Edit</a></td>
                                </tr>


                            </table> -->
                            <!--  <a href="#" class="modal-trigger waves-effect waves-light btn left" style="position: absolute;top: 70px;left: 30px;">Collapse All</a> -->
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/app-assets/vendors/tinymce/tinymce.min.js" type="text/javascript"></script>
<script defer src="/hr/js/news.js" type="text/javascript"></script>
{% endblock %}
