{% extends "www/master.html" %}

{% block title %}Payroll{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/payroll/sidenav.html" %}
{% endblock %}

{% block main %}
<div id="main">
</div>
{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}