{% extends "www/master.html" %}

{% block title %}Payroll{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/payroll/sidenav.html" %}
{% endblock %}

{% block main %}
<div id="main">
    <div class="animate fadeUp main-banner">
            <img src="/images/payroll-banner.png" />
            <div class="nav-wrapper black-text banner-title3">
                <div class="breadcrumb">
                    <a class="breadcrumb">Payroll</a>
                    <a href="/payroll" class="breadcrumb active">Home</a>
                </div>
            </div>
            <h5 class="pink-text banner-title">Sit back, relax and enjoy</h5>
            <h5 class="banner-subtitle black-text banner-title4">Your employees will receive exciting emails that connects to their payslips for this period.</h5>
        </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}