{% extends "www/master.html" %}

{% block title %}Payroll{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">

{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/payroll/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}

<style type="text/css">
  
 [type="checkbox"].filled-in:checked + span:not(.lever):before{
    border-right: 2px solid green !important;
    border-bottom: 2px solid green !important;
}
[type="checkbox"].filled-in + span:not(.lever):after {
  border-radius: 6px !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after{
  border: 2px solid #e1e1e1 !important;
  background-color: white !important;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after{
  border: 2px solid #e1e1e1 !important;
  background-color: white !important;
}

@media only screen and (max-width: 330px){
  input{
    font-size: 11px !important;
  }
}
</style>
<div id="main">
  <div class="row">
    <div class="content-wrapper-before"></div>
    <div class="col-12">
      <div class="container">
        <div class="row section-data-tables">
          <div class="col s12">
            <div class="nav-wrapper black-text banner-title3">
              <div class="breadcrumb" style="display: inline;">

                <a class="breadcrumb">Payroll</a>
                <a class="breadcrumb">Pay Run</a>
                <a href="/payroll/pay-run-approval" class="breadcrumb active">Approval</a>
              </div>

            </div>
            

            <div class="col xl20 l20 m18 s12">
              <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
                <div class="card-content">
                 <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/pay-run.png">
                 <div class="card-title" style="margin-top: -5px;;text-align: left;margin-left: 35px;">Request</div>
                 <table style="font-size: 14px;" class="table table-striped dataTable display">
                  <thead>
                  <tr style="font-size: 16px; background-color:#eff1f9; width: 100%!important;">
                    <th style="border-right:none!important;">Payroll Name</th>
                    <th style="border-right:none!important;">Requester</th>
                    <th style="border-right:none!important;">Requested Date</th>
                    <th style="border-right:none!important;">Payroll Month</th>
                    <th style="border-right:none!important;">Payroll Year</th>
                    <th style="border-right:none!important;">Status</th>
                    <th style="border-right:none!important;">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% set pay_approval = frappe.get_all("HRM Payroll Entry",filters=[["status","!=","Completed"]],fields=["name","status","requested_date","payroll_month","payroll_year","submitted_by","payroll_type"]) %}
                  
                  {% for pay in pay_approval %}
                  <tr>
                    <td class="pay_name">{{pay.name}}</td>
                    <td>{{pay.submitted_by}}</td>
                    <td>{{pay.requested_date}}</td>
                    <td class="pay_month">{{pay.payroll_month}}</td>
                    <td class="pay_year">{{pay.payroll_year}}</td>
                    <td class = "status" style="color: green">{{pay.status}}</td>
                    <td><a style="background-color: #00aeef;border-radius: 25px;width: 150px;text-align: center;color: white;line-height: 40px;margin: 0px;" class="modal-trigger waves-effect waves-light right review">
                    {% if pay.status == "Pending" or pay.status == "Rejected" %}Review{% elif pay.status == "Approved" %}Run Payroll{% endif %}</a></td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
                 <!--<p>Balance left</p>-->
                 <div class="row">
                  <!--individual-card-->

                </div>
              </div>
            </div>
          </div>

          <div class="col xl20 l20 m18 s12">
            <div class="card" style="border-radius: 10px!important;">
              <div class="card-content">
                <div>
                 <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons//pay-run.png">
                 <h4 class=" card-title newstitle" style="display: inline;">Approval History</h4>

               </div>
               <div style="height: 25px"></div>
               <div class="row">

                 <div class="row margin infodetails">
                  <div class="input-field col s12 m4" style="margin-bottom: 0px;">
                    <p style="margin-bottom: 5px;">Status</p>
                    <select multiple>
                      <option value="" disabled selected>Select Status</option>
                      <option value="1">Select All</option>
                      <option value="2">Pending</option>
                      <option value="3">Approved</option>
                      <option value="4">Declined</option>
                      <option value="5">Cancelled</option>
                    </select>
                  </div>
                  <div class="input-field col s12 m4" style="margin-bottom: 0px;">
                    <p style="margin-bottom: 5px;">Request Date</p>
                    <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                    <select class="small-font">
                      <option value="" selected>Jan 2019 - Aug 2019 </option>
                      
                    </select>
                  </div>


                  <a href="#!" style="background-color: #00aeef;border-radius: 25px;width: 150px;text-align: center;color: white;line-height: 40px;margin: 0px;margin-top: 45px;" class="modal-trigger waves-effect waves-light right">
                  Refresh</a>
                  <!-- <a id="review" style="background-color: #00aeef;border-radius: 25px;width: 150px;text-align: center;color: white;line-height: 40px;margin: 0px;margin-top: 45px;" class="modal-trigger waves-effect waves-light right">
                    Review</a> -->

                </div>
                <div style="height: 25px"></div>

                <table style="font-size: 14px;" class="table table-striped dataTable display">
                  <thead>
                  <tr style="font-size: 16px; background-color:#eff1f9; width: 100%!important;">
                    <th style="border-right:none!important;">Payroll Name</th>
                    <th style="border-right:none!important;">Requester</th>
                    <th style="border-right:none!important;">Requested Date</th>
                    <th style="border-right:none!important;">Payroll Month</th>
                    <th style="border-right:none!important;">Payroll Year</th>
                    <th style="border-right:none!important;">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% set pay_approval = frappe.get_all("HRM Payroll Entry",filters={"status":"Completed"},fields=["name","status","requested_date","payroll_month","payroll_year","submitted_by","payroll_type"]) %}
                  
                  {% for pay in pay_approval %}
                  <tr>
                    <td class="pay_name">{{pay.name}}</td>
                    <td>{{pay.submitted_by}}</td>
                    <td>{{pay.requested_date}}</td>
                    <td class="pay_month">{{pay.payroll_month}}</td>
                    <td class="pay_year">{{pay.payroll_year}}</td>
                    <td class = "status" style="color: green">{{pay.status}}</td>
                    <td><a style="background-color: #00aeef;border-radius: 25px;width: 150px;text-align: center;color: white;line-height: 40px;margin: 0px;" class="modal-trigger waves-effect waves-light right review">
                    {% if pay.status == "Pending"  %}Review{% elif pay.status == "Approved" %}Run Payroll{% endif %}</a></td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>







      </div>
    </div>




  </div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/payroll/js/pay-run-approval.js" type="text/javascript"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });

  // Or with jQuery

  $('.dropdown-trigger').dropdown();
</script>
<!-- <script defer src="/hr/js/people_dir.js" type="text/javascript"></script> -->
{% endblock %}

