{% extends "www/master.html" %}

{% block title %}Payroll{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/payroll/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<style type="text/css">
    
    @media only screen and (max-width: 1600px){
  #table-scroll{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
   
    white-space: nowrap!important;
  }

  table{
    width: 1130px !important;
  }
}

td{
  white-space: normal!important;
}

@media only screen and (max-width: 330px){
  input{
    font-size: 11px !important;
  }
}

</style>

<div id="main">
   <div class="row">
      <div class="container">
        <div class="row section-data-tables">
          <div class="col s12">
        <div class="nav-wrapper black-text banner-title3">
            <div class="breadcrumb">
                <a class="breadcrumb">Payroll</a>
                <a class="breadcrumb">Reports</a>
                <a href="/payroll/total-reports.html" class="breadcrumb active">Total Reports</a>
            </div>
        </div>
        <div class="col xl20 l20 m18 s12">
          <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
            <div class="card-content">
              <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/reports.png">
              <h4 class="card-title directorytitle" style="text-align: left;">Total Reports</h4>

              <a href="#!" class=" modal-trigger waves-effect waves-light right btn-top">
              Clear All</a>
              <br><br>


              <div class="row">
                <div class="row margin infodetails">

                  <div class="option-date-appr input-field col s12 m6 l6 xl3">
                    <p style="text-align: left;margin-bottom: 10px; ">Date Range</p>
                    <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                    <select>
                      <option value="" selected>Jan 2019 - Aug 2019 </option>
                      
                    </select>
                </div>

                <div class="input-field col s12 m6 l6 xl3">
                    <p style="text-align: left; margin-bottom: 10px; ">Employees</p>
                    <select style="width: -webkit-fill-available;">
                      <option value="" disabled selected>All requesters</option>
                      <option value="information technology">Accident</option>
                      <option value="engineering">Sick</option>
                      <option value="telecommunication">Vacation</option>
                  </select>
              </div>


              <div style="margin-top: 47px;" class="input-field col s12 m6 l6 xl3">

                <i style="position: absolute; padding-top: 12px; right: 20px;" class="material-icons-outlined">search</i><input style=width: -webkit-fill-available" type="text" name="search" placeholder="  Search Entities">
            </div>


            <a href="#!" style="background-color: #00aeef; border-radius: 25px; width: 160px;  text-align: center;  color: white;  line-height: 40px;margin-right: 5px; margin-top: 50px; margin-bottom: 31px;" class="modal-trigger waves-effect waves-light right">Download Report</a>
        </div>

<div id="list" class="list-section" style="display: block;">
                  <div class="row">
<div id="table-scroll" class="col s12">
        <table style="font-size: 14px; table-layout: unset;display: inline-table;">
          <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
            <th style="border-right:none!important; width: 200px;">Employees</th>
            <th style=" border-right:none!important;">Basic Salary</th>
            <th style=" border-right:none!important;">Additions</th>
            <th style=" border-right:none!important;">Gross Pay</th>
            <th style=" border-right:none!important;">Deductions</th>
            <th style=" border-right:none!important;">Net Pay</th>
            <th style=" border-right:none!important;"><span style="color:#EC008C">Employer</span><br>EPF</th>
            <th style=" border-right:none!important;"><span style="color:#EC008C">Employer</span><br>SOCSO</th>
        </tr>
        <tr style="font-size: 13px;">
            <td>
               <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                            <p style="margin-top: 5px;display: block">
                              <span><a href="#!" style="display: block; color:#00AEEF;" onclick="profile();">Leanne Ko</a></span>
                              <span>Marketing Manager</span>
                            </p>
          </td>
          <td>RM 2, 500.00</td>
          <td>RM 0.00</td>
          <td>RM 2, 500.00</td>
          <td>RM 415.45</td>
          <td>RM 2, 254.85</td>
          <td>RM 392.00</td>
          <td>RM 48.15</td>

      </tr>
      <tr style="font-size: 13px;">
        <td>
            <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
            <p style="margin-top: 5px;display: block">
              <span><a href="#!" style="display: block; color:#00AEEF;">Hamidi Rashidi</a></span>
              <span>Office Manager</span>
          </p>
      </td>
      <td>RM 3, 000.00</td>
      <td>RM 0.00</td>
      <td>RM 3, 000.00</td>
      <td>RM 245.15</td>
      <td>RM 2, 584.55</td>
      <td>RM 462.00</td>
      <td>RM 56.85</td>

  </tr>
  <tr style="font-size: 13px;">
    <td>
       <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
       <p style="margin-top: 5px;display: block">
          <span><a href="#!" style="display: block; color:#00AEEF;">Raves Aru</a></span>
          <span>Head of Finance</span>
      </p>
  </td>
  <td>RM 3, 000.00</td>
  <td>RM 0.00</td>
  <td>RM 3, 000.00</td>
  <td>RM 415.45</td>
  <td>RM 2, 584.55</td>
  <td>RM 181.00</td>
  <td>RM 21.85</td>

</tr>

<tr style="font-size: 13px;">
    <td>
        <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
        <p style="margin-top: 5px;display: block">
          <span><a href="#!" style="display: block; color:#00AEEF;">Siti Halina</a></span>
          <span>UI Designer</span>
      </p>
  </td>
  <td>RM 3, 000.00</td>
  <td>RM 0.00</td>
  <td>RM 3, 000.00</td>
  <td>RM 415.45</td>
  <td>RM 2, 584.55</td>
  <td>RM 181.00</td>
  <td>RM 21.85</td>

</tr>

<tr style="font-size: 13px;">
    <td>
        <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
        <p style="margin-top: 5px;display: block">
          <span><a href="#!" style="display: block; color:#00AEEF;">Yo Ling</a></span>
          <span>Front-end Developer</span>
      </p>

  </td>
  <td>RM 3, 000.00</td>
  <td>RM 0.00</td>
  <td>RM 3, 000.00</td>
  <td>RM 415.45</td>
  <td>RM 2, 584.55</td>
  <td>RM 181.00</td>
  <td>RM 21.85</td>

</tr>

<tr style="font-size: 13px;">
    <td>
     <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
     <p style="margin-top: 5px;display: block">
      <span><a href="#!" style="display: block; color:#00AEEF;">Tani Sari</a></span>
      <span>Marketing Assistant</span>
  </p>
</td>
<td>RM 3, 000.00</td>
<td>RM 0.00</td>
<td>RM 3, 000.00</td>
<td>RM 415.45</td>
<td>RM 2, 584.55</td>
<td>RM 181.00</td>
<td>RM 21.85</td>

</tr>

<tr style="font-size: 13px;">
    <td>
       <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
       <p style="margin-top: 5px;display: block">
          <span><a href="#!" style="display: block; color:#00AEEF;">Kim Lee</a></span>
          <span>Lead Manager</span>
      </p>
  </td>
  <td>RM 3, 000.00</td>
  <td>RM 0.00</td>
  <td>RM 3, 000.00</td>
  <td>RM 415.45</td>
  <td>RM 2, 584.55</td>
  <td>RM 181.00</td>
  <td>RM 21.85</td>

</tr>

<tr style="font-size: 13px;">
    <td>
       <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
       <p style="margin-top: 5px;display: block">
          <span><a href="#!" style="display: block; color:#00AEEF;">Azizi Nordin</a></span>
          <span>Marketing Strategist</span>
      </p>
  </td>
  <td>RM 3, 000.00</td>
  <td>RM 0.00</td>
  <td>RM 3, 000.00</td>
  <td>RM 415.45</td>
  <td>RM 2, 584.55</td>
  <td>RM 181.00</td>
  <td>RM 21.85</td>

</tr>
</table>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}