{% extends "www/master.html" %}

{% block title %}Payroll{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/payroll/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<style type="text/css">

@media only screen and (max-width: 1600px){
  #table-scroll{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    
    white-space: nowrap!important;
  }

  table{
    width: 1300px !important;
  }
}


@media only screen and (max-width: 480px){

  .btn-download-all
  {
    background-color: #00aeef;
    border-radius: 25px;
    width: 160px;
    text-align: center;
    color: white;
    line-height: 40px;
    margin-right: 5px;
    margin-top: 0px!important;
  }


  .send-all-div{
    margin-top: 16px!important;
    
    margin-bottom: 0px;
  }
}

.btn-download-all{  
  background-color: #00aeef;
  border-radius: 25px;
  width: 160px;
  text-align: center;
  color: white;
  line-height: 40px;
  margin-right: 5px;
  margin-top: 50px;
}

.send-all-div{
  margin-top: 30px; 
  float: right !important;
}

@media only screen and (max-width: 601px){
  .btn-download-all{
    float: left !important;
    margin-left: 14px !important;
  }

  .send-all-div{
    float: left !important;
    margin-left: 0 !important;
  }
}
</style>


<div id="main">
 <div class="row">
  <div class="container">
    <div class="row section-data-tables">
          <div class="col s12">
    <div class="nav-wrapper black-text banner-title3">
      <div class="breadcrumb">
        <a class="breadcrumb">Payroll</a>
        <a class="breadcrumb">Reports</a>
        <a href="/payroll/reports-form-ean.html" class="breadcrumb active">Total Reports</a>
      </div>
    </div>
    <div class="col xl20 l20 m18 s12">
      <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
        <div class="card-content">
          <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/reports.png">
          <h4 class="card-title directorytitle" style="text-align: left;">Total Reports</h4>

          <br><br>


          <div class="row">
            <div class="row margin infodetails">

              <div class="input-field col s12 m3">
                <p style="text-align: left; margin-bottom: 10px; ">Year</p>
                <select style="width: -webkit-fill-available;">
                  <option value="" selected>2019</option>
                  
                </select>
              </div>

              <a href="#!" class="btn-download-all modal-trigger waves-effect waves-light right btn">Download All</a>

              <div class="send-all-div input-field col s12 m2" style="margin-right: 50px;">
                <a href="#!"  class=" modal-trigger waves-effect waves-light right send-all-div">Send All</a>
              </div>
            </div>

            <br>
            <div id="list" class="list-section" style="display: block;">
              <div class="row">
                <div id="table-scroll" class="col s12">
                  <table id="table-scroll" style="font-size: 14px;display: inline-table !important;">
                    <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                      <th style="border-right:none!important;">Employees</th>
                      <th style=" border-right:none!important;">Department</th>
                      <th style=" border-right:none!important;">Office</th>
                      <th style=" border-right:none!important;">Action</th>
                      <th style=" border-right:none!important;"></th>
                    </tr>
                    <tr style="font-size: 13px;">
                      <td>
                       <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                       <p style="margin-top: 5px;display: block">
                        <span><a href="#!" style="display: block; color:#00AEEF;" onclick="profile();">Leanne Ko</a></span>
                        <span>Marketing manager</span>
                      </p>
                    </td>
                    <td>Management</td>
                    <td>Main Office</td>
                    <td><a href="#!">Send</a></td>
                    <td><a href="#!">Download</a></td>


                  </tr>
                  <tr style="font-size: 13px;">
                    <td>
                      <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                      <p style="margin-top: 5px;display: block">
                        <span><a href="#!" style="display: block; color:#00AEEF;">Hamidi Rashidi</a></span>
                        <span>Office manager</span>
                      </td>
                      <td>Management</td>
                      <td>Main Office</td>
                      <td><a href="#!">Send</a></td>
                      <td><a href="#!">Download</a></td>


                    </tr>
                    <tr style="font-size: 13px;">
                      <td>
                       <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                       <p style="margin-top: 5px;display: block">
                        <span><a href="#!" style="display: block; color:#00AEEF;">Raves Aru</a></span>
                        <span>Head of Finance</span>
                      </p>
                    </td>
                    <td>Creative</td>
                    <td>Main Office</td>
                    <td><a href="#!">Send</a></td>
                    <td><a href="#!">Download</a></td>


                  </tr>

                  <tr style="font-size: 13px;">
                    <td>
                     <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                     <p style="margin-top: 5px;display: block">
                      <span><a href="#!" style="display: block; color:#00AEEF;">Siti Halina</a></span>
                      <span>UI Designer</span>
                    </p>
                  </td>
                  <td>Developer</td>
                  <td>Main Office</td>
                  <td><a href="#!">Send</a></td>
                  <td><a href="#!">Download</a></td>


                </tr>

                <tr style="font-size: 13px;">
                  <td>
                   <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                   <p style="margin-top: 5px;display: block">
                    <span><a href="#!" style="display: block; color:#00AEEF;">Yo Ling</a></span>
                    <span>Front-end Developer</span>
                  </p>
                </td>
                <td>Developer</td>
                <td>Main Office</td>
                <td><a href="#!">Send</a></td>
                <td><a href="#!">Download</a></td>


              </tr>

              <tr style="font-size: 13px;">
                <td>
                  <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                  <p style="margin-top: 5px;display: block">
                    <span><a href="#!" style="display: block; color:#00AEEF;">Tani Sari</a></span>
                    <span>Marketing Assistant</span>
                  </p>
                </td>
                <td>Marketing</td>
                <td>Main Office</td>
                <td><a href="#!">Send</a></td>
                <td><a href="#!">Download</a></td>

              </tr>

              <tr style="font-size: 13px;">
                <td>
                 <img src="/images/profile_icon.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                 <p style="margin-top: 5px;display: block">
                  <span><a href="#!" style="display: block; color:#00AEEF;">Kim Lee</a></span>
                  <span>Lead Manager</span>
                </p>

              </td>
              <td>Management</td>
              <td>Main Office</td>
              <td><a href="#!">Send</a></td>
              <td><a href="#!">Download</a></td>
            </tr>

            <tr style="font-size: 13px;">
              <td>
                <img src="/images/profile_placeholder.png" width="50" height="50" style="float: left;margin-right: 5px;" />
                <p style="margin-top: 5px;display: block">
                  <span><a href="#!" style="display: block; color:#00AEEF;">Azizi Nordin</a></span>
                  <span>Marketing Strategist</span>
                </p>
              </td>
              <td>Marketing</td>
              <td>Main Office</td>
              <td><a href="#!">Send</a></td>
              <td><a href="#!">Download</a></td>

            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}