@import "../theme-components/_color";

#appicon {
  line-height: 64px;
  width: 110px;
  margin-left: 40px;
}

.nav-menu {
  display: none;
  position: relative;
  float: left;
  margin: 0 20px 0 10px;
}

.nav-collapsed {
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 15px
  }
}

.nav-drop-icon {
  list-style: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}

#nav-avatar {
  .avatar {
    //if no image
    div {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background: #ccc !important;
      border-radius: 50%;
    }

    //for image
    .avatar-frame {
      margin-top: 8px;
      margin-bottom: 8px;
      display: block;
      background-size: 48px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      border-radius: 50%;
    }
  }
}

.sidenav li .collapsible-body {
  ul {
    li a span {
      margin-left: 44px;
    }
  }
}

.sidenav li a.active {
  background: linear-gradient(90deg, color('blue', 'active') 0%, #ffffff00 100%);
  box-shadow: none;

  &.material-icons-outlined {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.nav-links-small {
  display: none;

  a.active {
    color: #fff !important;
  }
}

.modal-content {
  padding-bottom: 100px !important;
}

#toast-container {
  top: auto !important;
  right: 3% !important;
  bottom: 3%;
}

table.dataTable tbody tr[role] {
  cursor: pointer;
}

.navbar .navbar-light ul a.active {
  background: #fff;
  color: color('blue', 'base');
}

#card-stats .card-stats-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#main .section-data-tables.table-filter {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: block;

    label input {
      width: auto;
      height: auto;
    }

    label select {
      display: inline-block;
      width: auto;
      height: auto;
    }
  }
}

//banners
.main-banner {
  display: inline;
  top: 64px;
  left: 0;
  width: 100%;
  height: auto;
  box-shadow: none;

  img {
    padding: 0;
    margin: 0;
    min-height: 400px;
  }

  .banner-title {
    position: absolute;
    top: 130px;
    margin-left: 50px;
    font-size: 20px;
    width: 30%;
  }

  .banner-title2 {
    position: absolute;
    top: 180px;
    margin-left: 50px;
    font-size: 25px;
    width: 30%;
    color: black !important;
    line-height: 1.4;
  }

  .banner-title3 {
    position: absolute;
    top: 90px;
    margin-left: 50px;
    font-size: 12px;
    width: 30%;
    color: black !important;
  }

  .banner-subtitle {
    font-size: 18px;
    position: absolute;
    top: 190px;
    margin-left: 20px;
    width: 30%;
  }
}

.material-icons-outlined {
  background: linear-gradient(to bottom, #ec008c 0%, #00aeef 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    display: inline-block;
  }
}

@media only screen and (max-width: 601px) {
  #nav-avatar {
    .avatar {
      div, .avatar-frame {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
  .nav-links {
    display: none;
  }
  .nav-links-small {
    display: initial;
  }
}

@media (max-width: 992px) {
  .sidenav-main {
    z-index: 999;
  }
  #appicon {
    display: none;
  }
  .sidenav-main .brand-sidebar .brand-logo {
    padding: 16px 12px 20px 12px;
    padding-left: 65px;
    padding-top: 8px;
    padding-right: 0px;
  }
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 40px;
    width: auto;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  .btn-floating {
    background-color: #fff;
  }
  .btn-floating:hover {
    background-color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .main-banner .banner-title3 {
    position: absolute;
    top: 70px;
    margin-left: 20px;
    font-size: 12px;
    width: 30%;
    color: black !important;
  }
  .main-banner .banner-title {
    position: absolute;
    top: 100px;
    margin-left: 20px;
    font-size: 16px;
    width: 50%;
  }
  .main-banner .banner-title2 {
    position: absolute;
    top: 130px;
    margin-left: 20px;
    font-size: 16px;
    width: 90%;
    color: black !important;
  }
  .main-banner {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 3px rgba(0, 0, 0, 0.12), 0px 2px rgba(0, 0, 0, 0.24);
  }
  .main-banner img {
    background-color: #fff;
    padding: 0;
    margin: 0;
    min-height: 140px;
    opacity: 0.4;
    width: 500px;
    margin-left: 50px;
  }
  .hr-content {
    margin: 10px 0px;
  }
}

.app-logo {
  float: left;
}

nav ul.left {
  margin-left: 20px;
}

nav ul a {
  padding: 0 35px;
}

.navbar-list > li:nth-child(2) {
  float: right;
}

nav ul a:hover {
  background-color: white;
  color: #2196F3 !important;
}

.upcoming-content {
  margin: 15px 0px;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #dcdcdc;
}

.upcoming-contents {
  margin: 15px 0px;
  padding-bottom: 10px !important;
}

.hr-content {
  margin: 40px 0px;
}