#appicon {
  line-height: 64px;
  width: 70px;
  margin-left: 10px;
}

.nav-menu {
  display: none;
  position: relative;
  float: left;
  margin: 0 20px 0 10px;
}

.nav-collapsed {
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 15px
  }
}

.nav-drop-icon {
  list-style: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}

.sidenav li .collapsible-body {
  ul {
    li a span {
      margin-left: 44px;
    }
  }
}

.modal-content {
  padding-bottom: 100px !important;
}

#toast-container {
  top: auto !important;
  right: 3% !important;
  bottom: 3%;
}

table.dataTable tbody tr[role] {
  cursor: pointer;
}

#main .section-data-tables.table-filter {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: block;

    label input {
      width: auto;
      height: auto;
    }

    label select {
      display: inline-block;
      width: auto;
      height: auto;
    }
  }
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    display: inline-block;
  }
}
