@import "../theme-components/_color";

#appicon {
  line-height: 64px;
  width: 70px;
  margin-left: 10px;
}

.app-logo {
  display: none;
}

.nav-menu {
  display: none;
  position: relative;
  float: left;
  margin: 0 20px 0 10px;
}

.nav-collapsed {
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 15px
  }
}

.nav-drop-icon {
  list-style: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}

#nav-avatar {
  .avatar {
    //if no image
    div {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background: color('grey', 'base') !important;
      border-radius: 50%;
    }

    //for image
    .avatar-frame {
      margin-top: 8px;
      margin-bottom: 8px;
      display: block;
      background-size: 48px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      border-radius: 50%;
    }
  }
}

.sidenav li .collapsible-body {
  ul {
    li a span {
      margin-left: 44px;
    }
  }
}

.nav-links-small {
  display: none;
  a.active {
    color: #fff !important;
  }
}

.modal-content {
  padding-bottom: 100px !important;
}

#toast-container {
  top: auto !important;
  right: 3% !important;
  bottom: 3%;
}

table.dataTable tbody tr[role] {
  cursor: pointer;
}

.sidenav li a.active {
  background: color('blue', 'base');
  box-shadow: 3px 3px 20px 0 rgba(color('blue', 'base'), 0.4);
}

.navbar .navbar-light ul a.active {
  background: color('blue', 'base');
  color: #fff;
}

#card-stats .card-stats-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#main .section-data-tables.table-filter {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: block;

    label input {
      width: auto;
      height: auto;
    }

    label select {
      display: inline-block;
      width: auto;
      height: auto;
    }
  }
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    display: inline-block;
  }
}

@media only screen and (max-width: 601px) {
  #nav-avatar {
    .avatar {
      div, .avatar-frame {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
  .nav-links {
    display: none;
  }
  .nav-links-small {
    display: initial;
  }
}