{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}   claim-title1
{% endblock %}

{% block main %}
<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a href="/claims/index.html" class="breadcrumb">All Claims</a>
          <a href="/claims/claim-title1.html" class="breadcrumb active">20190312 - AA</a>
        </div>
      </div>
      <div class="col xl20 l20 m18 s12">
        <div id="card-stats" class="card">
          <div class="card-content">        
            <div class="row">
              <div style="height: 40px;"></div>
              <div class="row margin infodetails">
               <div class="input-field col s12 m2">
                <a href="#">Requester</a>
                <img style="float: right;" width="25" height="25" src="/images/avatar.svg">
              </div>

              <div class="input-field col s12 m2">
               <a href="#">Approver</a>
               <img style="float: right;" width="25" height="25" src="/images/avatar.svg">
             </div>

             <div style="margin-top: -16px;" class="right">
              <p style="border-radius: 20px;text-align: center;width: 100%;background-color: #b2a30f;color: white;font-size: 10px;">
              Pending Approval</p>
              <p style="font-size: 19px;text-align: right;">MYR 200.00</p>
              <span style="font-size: 12px;text-align: right;">Total claim amount</span>
            </div>

          </div>
          <br>
          <hr>
          <br>
          <div class="row margin infodetails">
            <div class="option-date-appr input-field col s12 m3">
              <p style="margin-bottom: 10px;float: left;">Start Date</p>
              <i style="position: absolute; padding-top: 12px; right: 16px;" class="material-icons-outlined">date_range
              </i><input style="border: 1px solid grey; border-radius: 5px;" placeholder="Cutoff from" class="textbox-n" type="date" onfocus="(this.type='date')">
            </div>
            <div class="option-date-appr input-field col s12 m3">
              <p style="margin-bottom: 10px;float: left
              ">End Date</p>
              <i style="position: absolute; padding-top: 12px; right: 16px;" class="material-icons-outlined">date_range
              </i><input style="border: 1px solid grey; border-radius: 5px;" placeholder="Cutoff from" class="textbox-n" type="date" onfocus="(this.type='date')">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col xl20 l20 m18 s12">
    <div id="card-stats" class="card">
      <div class="card-content">  
        <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
        <div class="card-title" style="margin-top: -5px;;text-align: left;margin-left: 35px;">Reimbursement via payroll</div>
        <br>
        <table style="font-size: 14px;">
         <tr style="font-size: 16px; background-color: #f9f9f9; width: 100%!important;" >
          <th style="border-right:none!important;">Date</th>
          <th style="border-right:none!important;">Claim Type</th>
          <th style="border-right:none!important;">Merchant</th>
          <th style="border-right:none!important;">Description</th>
          <th style="border-right:none!important;">Amount</th>
          <th style="border-right:none!important;"></th>
        </tr>

        <tr>
          <td>26 Jul 2019</td>
          <td>Transport</td>
          <td>2RFID Installation</td>
          <td>Install to our company cars (3 cars)</td>
          <td>MYR 200.00</td>
          <td style="text-align: center;"><i class="material-icons-outlined">attach_file</i></td>
        </tr>

        <tr>
          <td>26 Jul 2019</td>
          <td>Medical</td>
          <td>Thomson Hospital</td>
          <td>Thomson Hospital</td>
          <td>MYR 2,500.00</td>
          <td style="text-align: center;"><i class="material-icons-outlined">attach_file</i></td>

        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total   MYR 2,700.00</td>
          <td></td>
        </tr>

      </table> 
      

      <div style="height: 90px;"></div>
      <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
      <div class="card-title" style="margin-top: -5px;text-align: left;margin-left: 35px;">Reimbursement via direct payment
      </div>
      <br>
      <table style="font-size: 14px;">
       <tr style="font-size: 16px; background-color: #f9f9f9; width: 100%!important;" >
        <th style="border-right:none!important;">Date</th>
        <th style="border-right:none!important;">Claim Type</th>
        <th style="border-right:none!important;">Merchant</th>
        <th style="border-right:none!important;">Description</th>
        <th style="border-right:none!important;">Amount</th>
        <th style="border-right:none!important;"></th>
      </tr>

      <tr>
        <td style="text-align: center;" colspan="6">No claim item</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total   MYR0.00</td>
        <td></td>
      </tr>
    </table>


    <div style="height: 90px;"></div>
    <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
    <div class="card-title" style="margin-top: -5px;text-align: left;margin-left: 35px;">Report History</div>
    <br>
    <table style="font-size: 14px;">
     <tr style="font-size: 16px; background-color: #f9f9f9; width: 100%!important;" >
      <th style="border-right:none!important;">Date</th>
      <th style="border-right:none!important;">Claim Type</th>
      <th style="border-right:none!important;">Merchant</th>
      <th style="border-right:none!important;">Description</th>
      <th style="border-right:none!important;">Amount</th>
      <th style="border-right:none!important;"></th>
    </tr>

    <tr>
      <td style="text-align: center;" colspan="6">No History</td>
    </tr>

  </table>
</div>

<div class="row margin infodetails">
  <a href="#" style=" background-color: #00aeef;  border-radius: 25px;  width: 100px;  text-align: center;  color: white;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " class="modal-trigger waves-effect waves-light right">Approve</a>
  <a href="#" style=" background-color: white; border: 1px #00aeef solid; border-radius: 25px;  width: 100px;  text-align: center;  color:#00aeef;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " class="modal-trigger waves-effect waves-dark right">Decline</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}