{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}

{% block main %}
<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a href="/claims/reports.html" class="breadcrumb active">Reports</a>
        </div>
      </div>
      <div class="col xl20 l20 m18 s12">
        <div id="card-stats" class="card">
          <div class="card-content">
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/reports.png">
            <h4 class="card-title directorytitle" style="text-align: left;">Reports</h4>

            <!--   <a href="#" class="btn-myclaims modal-trigger waves-effect waves-light right">
            Create Report</a> -->
            <br><br>
            
            <h4 class="card-title" style="text-align: left;">Export an Overview of the Approved Claims</h4> 
            <span style="float: left; font-size: 14px; color: darkgrey">You can extract a report by selecting approve dates and employees who have submitted the claims</span>


            <div style="height: 60px;"></div>
            <h4 class="card-title" style="text-align: left;">Export Approved Claims</h4> 



            <div class="row">
              <div style="height: 30px;"></div>
              <div class="row margin infodetails">
                <div style="width: 250px;" class="input-field col s12 m3">
                 <p style="text-align: left;margin-bottom: 10px;">Approved Date (Start)</p>
                 <i style="margin-right: 10px ;position: absolute; padding-top: 12px; right: 10px;background: #b7aeae; -webkit-background-clip: text;" class="material-icons-outlined">date_range</i>
                 <input style="border: 1px solid grey; border-radius: 5px;" placeholder="Submit Date" class="textbox-n" type="text" onfocus="(this.type='date')"  >
               </div>

               <div style="margin-left: 20px;" class="input-field col s12 m3">
                 <p style="text-align: left;margin-bottom: 10px;">Approved Date (End)</p>
                 <i style="margin-right: 10px ;position: absolute; padding-top: 12px; right: 10px;background: #b7aeae; -webkit-background-clip: text;" class="material-icons-outlined">date_range</i>
                 <input style="border: 1px solid grey; border-radius: 5px;" placeholder="Submit Date" class="textbox-n" type="text" onfocus="(this.type='date')"  >
               </div>

               <div style="margin-left: 20px;" class="right input-field col s12 m3">
                <p style="text-align: left;margin-bottom: 10px;">Submitted By</p>
                <select style="width: -webkit-fill-available;">
                  <option value="" disabled selected>All Employees</option>
                  <option value="information technology">Accident</option>
                  <option value="engineering">Sick</option>
                  <option value="telecommunication">Vacation</option>
                </select>
              </div>
            </div>

            <div style="height: 30px;"></div>
            <a href="#" style="margin-right: 53px" class="btn-myclaims modal-trigger waves-effect waves-light right">
            Download Report</a>

          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <div style="height: 40px;"></div>
    <br>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}