{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}
{% block footer %}
{% include "www/footer.html" %}
{% endblock %}
{% block main %}



<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a href="/claims/reports" class="breadcrumb active">Reports</a>
        </div>
      </div>
      <div class="col xl12 l12 m12 s12">
        <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
          <div class="card-content">
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/reports.png">
            <h4 class="card-title directorytitle" style="text-align: left;">Reports</h4>

            <!--   <a href="#" class="btn-myclaims modal-trigger waves-effect waves-light right">
            Create Report</a> -->
            <br><br>
            
            <h4 class="card-title" style="text-align: left;">Export an Overview of the Approved Claims</h4> 
            <span style="float: left; font-size: 14px; color: darkgrey; text-align: justify;">You can extract a report by selecting approve dates and employees who have submitted the claims</span>


            <div style="height: 60px;"></div>
            <h4 class="card-title" style="text-align: left;">Export Approved Claims</h4> 



            <div class="row">
              <div style="height: 30px;"></div>
              <div class="row margin infodetails">
                <div class="input-field col s12 m4 l4 xl3">
                 <p style="text-align: left;margin-bottom: 10px;">Approved Date (Start)</p>
                 <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                 <input style="border: 1px solid #c1c1c1; border-radius: 5px;width: -webkit-fill-available" class="textbox-n" type="date" onfocus="(this.type='date')"  >
               </div>

               <div class="appr-date-end input-field col s12 m4 l4 xl3">
                 <p style="text-align: left;margin-bottom: 10px;">Approved Date (End)</p>
                 <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                 <input style="border: 1px solid #c1c1c1; border-radius: 5px;width: -webkit-fill-available" class="textbox-n" type="date" onfocus="(this.type='date')"  >
               </div>

               <div style="margin-left: 20px;" class="right input-field col s12 m3">
                <p style="text-align: left;margin-bottom: 10px;">Submitted By</p>
                <select style="width: -webkit-fill-available;">
                  <option value="" disabled selected>All Employees</option>
                  {% for emp in employee | sort(attribute='employee_name') %}
                  <option value={{emp.name}}>{{emp.employee_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div style="height: 30px;"></div>
            <a href="#!" style="margin-right: 10px" class=" btn-myclaims modal-trigger waves-effect waves-light right" id="download">
            Download Report</a>

          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <div style="height: 40px;"></div>
    <br>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
<script defer src="/claims/js/reports.js" type="text/javascript"></script>
{% endblock %}