{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}
{% block footer %}
{% include "www/footer.html" %}
{% endblock %}
{% block main %}
<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a class="breadcrumb">Reimbursement</a>
          <a href="/claims/submission-his.html" class="breadcrumb active">Submission History</a>
        </div>
      </div>
      <div class="col xl20 l20 m18 s12">
        <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
          <div class="card-content">
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" 
            src="/icons/reimbursement.png">
            <br>
            <h4 class="card-title directorytitle" style="text-align: left;">Submission Claims Report</h4>
            <span style="margin-top: 35px; float: left; font-size: 14px; color: #6c6868;text-align: justify;">This is the list of the claim reports  that have been  successfully submitted to Beep Payroll</span>
            <br>
            <div class="row">
              <div style="height: 40px;"></div>
              <div class="row margin infodetails">
                <div class="input-field col s12 m3">
                  <i style="position: absolute; padding-top: 12px; right: 20px;background: #b7aeae; -webkit-background-clip: text;" class="material-icons-outlined">search</i><input style="border-radius: 5px!important;width: -webkit-fill-available" type="text" name="search" placeholder="  Search Title">
                </div>
                <div class="input-field col s12 m3">
                  <select style="width: -webkit-fill-available;">
                    <option value="" disabled selected>All requesters</option>
                    <option value="information technology">Accident</option>
                    <option value="engineering">Sick</option>
                    <option value="telecommunication">Vacation</option>
                  </select>
                </div>
                


                <a href="#!" style="padding-top: 15px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right">Clear Filter</a>
                
              </div>
              <table style="font-size: 14px;">
                <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                  <th style=" border-right:none!important;">Title</th>
                  <th style=" border-right:none!important;">Period</th>
                  <th style=" border-right:none!important;">Amount</th>
                  <th style=" border-right:none!important;">Requester</th>
                  <th style=" border-right:none!important;">Cutoff Date</th>
                  <th style=" border-right:none!important;">Status</th>
                </tr>
                <tr>
                  <td colspan="6" style="text-align: center;">No claims report to submit to payroll</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}