{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
      href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<style type="text/css">
@media only screen and (max-width: 380px){
    .table-scroll{
        overflow-x: scroll;
    }

    table{
        width: 300px !important;
        
    }
}
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<div id="main">
    <div class="row">
        <div class="content-wrapper-before"></div>
        <div class="col-12">
            <div class="container">
                <div class="row section-data-tables" style="margin: 50px;">
                    <div class="col s12">
                        <div class="nav-wrapper black-text banner-title3">
                            <div class="breadcrumb">
                                <a class="breadcrumb">HR Hub</a>
                                <a href="/hr/news" class="breadcrumb active">News</a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card" style="border-radius: 10px!important;">
                                <div class="card-content">
                                    <img width="22" height="22" class="sidenav-icon" src="/icons/news-dark.png">
                                    <h4 class="card-title newstitle" style="display: inline;">News</h4>
                                    <a href="#create-news.modal"
                                       class="modal-trigger waves-effect waves-light btn right create-btn">Create
                                        News</a>
                                    <div class="row">
                                        <div class="col s12 table-scroll">
                                            <table class="display dataTable"
                                                   style="padding: 20px 0px;table-layout: auto !important;display: inline-table !important;">
                                                <thead>
                                                <tr style="background-color: #eff1f9;">
                                                    <th>Subject</th>
                                                    <th>Creator</th>
                                                    <th>Date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="create-news.modal" class="modal modal-fixed-footer" style="padding-right: 50px;">
                                <div class="modal-content">
                                    <p class="edit-title">Add News</p>
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12" style="margin-bottom: 0px;">
                                                <p>Subject</p>
                                                <input type="text" id="news-subject" style="width: -webkit-fill-available;">
                                                <!--<label for="news-subject" class="" style="left: 30px;">Subject</label>-->
                                            </div>
                                            <div class="input-field col s12" style="margin-top: 0px;">
                                                <p>Send email to</p>
                                                <select>
                                                    <option value="" disabled selected>None selected</option>
                                                    {% set email = frappe.get_all("Employee", fields=['company_email']) %}
                                                    {% for em in email%}
                                                        <option value="{{em.company_email}}">{{em.company_email}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-field col s12">
                                                <textarea id="news-editor">Message</textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="right waves-effect waves-light btn">Add</a>
                                    <a href="#" class="right blue-text btn-flat"
                                       onclick="$('#create-news\\.modal').modal('close')">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
        type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
        type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
        type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/app-assets/vendors/tinymce/tinymce.min.js" type="text/javascript"></script>
<script defer src="/hr/js/news.js" type="text/javascript"></script>
{% endblock %}
