{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-calendar.css">
<style type="text/css">
  @media only screen and (max-width: 400px){
      .content-scroll{
        overflow-x: scroll;
      }

      .content-width{
        width: 350px !important;
      }
    }
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<div id="main">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3 screen">
      <div class="content-wrapper-before"></div>
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">HR Hub</a>
          <a class="breadcrumb">Settings</a>
          <a href="/hr/org-settings" class="breadcrumb active">Organization</a>
        </div>
      </div>
      <div class="col xl8 l8 m12 s12">
        <div class="card" style="margin-bottom: 0px; overflow: unset!important;border-top-left-radius: 10px; border-top-right-radius: 10px; ">
          <div class="card-content">
            <div>
             <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/settings.png">
             <h4 class="card-title newstitle" style="display: inline;">Organization</h4>

           </div>
           <br><br/>
           <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a style="color: black!important;" href="#test1" class="active">Job Title</a></li>
              <li class="tab col s3"><a style="color: black!important;" href="#test2">Department</a></li>

            </ul>
          </div>
        </div>


      </div>

      <div id="test1">
        <div  class="card" style="margin-top:-24px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; ">
          <div class="card-content">
           <div class="row margin infodetails">
            <span class="dep-span">Add, update or delete job title of your organisation..</span>
            <a href="#modal-add" class="btn-add-holiday modal-trigger waves-effect waves-light right">Add Job</a>
          </div>
          <div class="content-scroll" id="list-job">
          </div>
        </div>
      </div>

    </div>

    <div id="test2">
     <div  class="card" style="margin-top:-24px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; ">
       <div class="card-content">
         <div  class="col s12">
           <span class="dep-span">Create a new department and make your organisation structure</span>
         </div>
         <br><br>
         <div class="input-field col s12 m12">
           <div class="row margin infodetails">
            <div class="col s12 m12 l6 xl6">
              <div style="font-size: 15px;" class="input-field col s12" style="margin-bottom: 0px;">
                <p>1. Input Department Name</p>
                <input type="text" id="title" data-length="50" style="width: -webkit-fill-available !important;" placeholder="">
                <p style="margin-bottom: 10px;">2. Choose Parent Department</p>
                <select  padding-left: 10px;width: -webkit-fill-available;">
                  <option value="" disabled selected>Management (No parent department)</option>
                  <option value="information technology">Accident</option>
                  <option value="engineering">Sick</option>
                  <option value="telecommunication">Vacation</option>
                </select>

                <a href="#!" style="margin-top: 4%;" class="btn-myclaims modal-trigger waves-effect waves-light right">Add</a>

              </div>
            </div>
            <div class="col s12 m12 l6 xl6" style="padding: 0;">
              <div class="vl" style="padding-left: 30px;">

                <ul>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan " >


                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Development</span></a>

                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep" width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#!" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan " >


                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Marketing</span></a>

                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep" width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#!" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan " >


                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Product</span></a>


                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep" width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#!" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan ">


                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Human Resources</span></a>


                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep"  width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#!" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan ">


                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Customer Services</span></a>


                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep" width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#!" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan ">

                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Creative</span></a>


                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep" width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#!" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                  <li style="margin-bottom: 15px;" class="bold"><a class="waves-effect waves-cyan ">

                     <img style="margin-right: 8px;" width="21" height="21" class="sidenav-icon" src="/icons/icon-61.png"><span class="menu-title" data-i18n="" style="vertical-align: top">Operations</span></a>


                     <a href="#modal-del" class="modal-trigger"><img class="img-del-dep" width="21" height="21"
                      src="/icons/icon-58.png">
                      <a style="float: right;padding-right: 6%;" href="#modal-edit" class=" modal-trigger">Edit </a>
                    </a>
                  </li>

                </ul>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-del" class="del-dep modal" style="border-radius: 10px!important;">
    <div class="modal-content" style="padding: 0px !important; ">
      <p class="edit-title" >Delete Department</p>
      <span class="del-dep-span">Are you sure you want to delete the following department?</span>
    </div>
    <div style="margin-top: 11%;" class="modal-footer">
     <a href="#" class="right waves-effect waves-light btn">Delete</a>
     <a href="#" class="right blue-text btn-flat"
     onclick="$('#modal-del').modal('close')">Close</a>
   </div>
 </div>

    <div id="modal-add" class="add-job-title modal modal-fixed-footer">
        <div class="modal-content" style="padding: 0px !important; ">
            <p class="edit-title">Add Job Title</p>
            <form class="col s12" style="padding: 24px;">
                <div class="row">
                    <div class="input-field col s12" style="margin-bottom: 0px;">
                    <p>Job Title</p>
                    <input type="text" id="job_title_add" data-length="50" style="width: -webkit-fill-available !important;" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="right waves-effect waves-light btn" id="save_job_add">Save</a>
            <a href="javascript:void(0)" class="right blue-text btn-flat"
            onclick="$('#modal-add').modal('close')">Cancel</a>
        </div>
    </div>

    <div id="modal-rename-job" class="modal modal-fixed-footer">
        <div class="modal-content" style="padding: 0px !important; ">
        <p class="edit-title">Edit Job Title</p>
            <form class="col s12" style="padding: 24px;">
                <div class="row">
                    <div class="input-field col s12" style="margin-bottom: 0px;">
                    <p>Job Title</p>
                    <input type="hidden" id="old_name" data-length="50" style="width: -webkit-fill-available !important;" placeholder="">
                    <input type="text" id="new_name" data-length="50" style="width: -webkit-fill-available !important;" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="right waves-effect waves-light btn" id="save_job_edit">Save</a>
            <a href="#" class="right blue-text btn-flat"
            onclick="$('#modal-rename-job').modal('close')">Cancel</a>
        </div>
    </div>

</div>
</div>
</div>
</div>

{% endblock %}



{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/fullcalendar/lib/moment.min.js"></script>
<script src="../../../app-assets/vendors/fullcalendar/js/fullcalendar.min.js"></script>
<script src="../../../app-assets/js/scripts/app-calendar.js" type="text/javascript"></script>
<script src="/app-assets/vendors/sweetalert/sweetalert.min.js" type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script defer src="/hr/js/org-settings.js" type="text/javascript"></script>
{% endblock %}
